
.container{
  display: flex;
  flex-direction: column;
}
.header{
  background-color: lightblue;
  font-weight: bold;
  padding: 1em;
  text-align: center;
}
.menu{
  display: flex;
  background-color: darkslategrey;
  color: white;
}
.menuItem{
  padding: 0 1em;
  border-right: 1px solid black;
}

.content{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 20em;
  grid-template-areas: "col1 col3" ;
}
.col1{
  grid-area: col1;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #cac9c9;
}
.col2{
  grid-area: col2;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
  background-color: #9c9c9c;
}
.col3{
  grid-area: col3;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #b9b9b9;
}


.footer{
  text-align: center;
  background-color: darkslategrey;
  color: white;
}
@media screen and (min-width: 768px){
  
  .content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 20em;
    grid-template-areas: "col1 col2 col3" ;
  }
  .col1{
    grid-area: col1;
    
    background-color: #8b8b8b;
  }
  .col2{
    grid-area: col2;
    grid-row: 1;
    background-color: #9c9c9c;
  }
  .col3{
    grid-area: col3;
  
    background-color: #b9b9b9;
  }
}