@media screen and(min-width:480px) {
  .columns{
    width: 33.3%;
  }
  #last{
    width:33.3%;
  }
}
.container{
  display: flex;
  flex-direction: column;
}
.header{
  background-color: lightblue;
  font-weight: bold;
  padding: 1em;
  text-align: center;
}
.menu{
  display: flex;
  background-color: darkslategrey;
  color: white;
}
.menuItem{
  padding: 0 1em;
}
.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 20em;
  background-color: #d1d1d1;
}
section.content>div:nth-of-type(odd){
  background-color: #b9b9b9;
}
.columns{
  width: 50%;
}
.footer{
  text-align: center;
  background-color: darkslategrey;
  color: white;
}
#last{
  width: 100%;
  background-color: #999898;
}